
name: Update semver tags
on:
  push:
    branches-ignore:
      - '**'
    tags:
      - 'v*.*.*'
jobs:
  semver:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: haya14busa/action-update-semver@v1